<h1>About Blog</h1>
<p class="about_copy">Existential Economics was created to be an open platform for anyone to post economic articles. Knowledge is what pushes us forward as a society so feel free to share your opinions, research or research proposals and lets move forward together to a world with open access to education and freedom of information.</p>
<p></p>
<p>*Login functionality will be available shortly so anyone will be able to share their knowledge.</p>
