<%= stylesheet_link_tag "specific_selectors.css" %>
<%= stylesheet_link_tag "css_reset.css" %>
<h1>Welcome to Blog</h1>
<div class="show_break">
<h2 class="home_header">Welcome to Existential Economics!</h2>
<p class="home_page">Come learn, share your ideas and help spread information to anyone who is interested.</p>
<div class="">
  <%= image_tag("brain.png", class:"home_brain_image") %>
</div>
<p > </p>
<p class="home_page_copy">We are at a point in time where the disparity between educational opotunity is at an all time high. Teritiary education is unaffordable for most of human kind and high quality education is reserved for only a tiny percentage of the population. This lack of equal opportunity propogates generational wealth and creates class and poverty traps, leading to the random chance of where you are born deciding your future. This platform will enable you to share the knowledge you have been privilaged enough to have access to so that anyone in the world will have access to it. If you did research in your masters degree, if you took a short course where you learned something interesting or even if you just read a book you found inspiring, share what you learned here so we can all grow together. </p>
